#####################
# R 
#####################

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Dataset CSV files
*.csv
column_overlap_summary.csv
column_samples.csv 
merged_stack_raw.csv
merged_stack_wide.csv


#####################
# Python
#####################

# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
*/.ipynb_checkpoints/*
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/

# Visual Studio Python path environment file
.env

# Binary and model files
random_forest_model.joblib
simple_model/*
catboost_info/*
catboost_model.joblib
gradient_boosting_model.joblib
xgboost_model.joblib
##############
# Visual Studio Code files
.vscode/*

# macOS system files
.DS_Store
*.DS_Store*

# Logs and temp files
*.log
logs/*
*.crc 
*.parquet
*_SUCCESS
*nogit*
data*

# Notebook checkpoints
*/.ipynb_checkpoints/*
src/notebook/cache_dir/*
src/notebook/output_st/*
src/notebook/runs/*
wandb/*
cache_dir*

# Other miscellaneous files
mysensa* 
tensor_logs*
runs/*
bert_model/*

#####################
# Project-specific files
#####################
project3.pdf
project3.html
project3_files
Project 3 Ferris* 
Project-3-Ferris_files/
606 Project Proposal.html
606-proposal.pdf
606-DataEngineering.html
606FinalProject.html
nyc_key
nyc607fp.html
nyc607fp_files/*
*Maps.html
*index.html

# Dataset archives
archive.ics.uci.edu/*
:*
stuff