pydantic==1.10.14
scipy==1.12
scikit-learn
python-dotenv
langchain
langchain_openai
openai
llama-cpp-python==0.1.78
numpy==1.23.4
pip
ipython
pandas
nltk
requests
wheel
awscli
requests
gensim
pyreadr
jupyter
loguru
torch
jupyterlab
transformers
joblib
huggingface_hub
simpletransformers
accelerate
catboost
xgboost
fasttext
pymc-bart
ipykernel
selenium 
beautifulsoup4
geopandas
seaborn
